/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/debugbar
/storage/dotenv-editor
/storage/framework
/storage/logs
/storage/app/purifier
/vendor
/Modules/*/node_modules
/Themes/Cynoebook/node_modules
.env
database.sqlite
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
